body {
    background-color: #DADBDC; /* Cambio a un color de fondo más suave */
    margin: 0;
    padding-top: 50px; /* Aumenta el espacio en la parte superior si es necesario */
    text-align: center; /* Esto centra horizontalmente todos los elementos en línea o en línea-bloque */
    height: 100vh;
    display: flex;
    flex-direction: column; /* Alinea los elementos secundarios en una columna vertical */
    justify-content: flex-start;  /* Alinea los elementos al inicio del contenedor flex */
}
.logo-container {
    position: absolute;
    left: 0;
    top: 10%; 
    transform: translateY(-50%); 
    margin-left: 20px;
}
#juego {
    text-align:right;
}
h1 {
    text-align: center;
    font-size: 48px; /* Tamaño más grande para el título */
    color: #2F4F4F;
    position: absolute;
    left: 0;
    top: 26%; 
    transform: translateY(-50%); 
    margin-left: 20px;
    font-family: "Sanchez", serif;
}
#p1{
    font-size: 28px;
    line-height: 1.6;
    color: #2F4F4F;
    position: absolute;
    left: 0;
    top: 40%; 
    transform: translateY(-50%); 
    margin-left: 20px;
    text-align: justify;
}


.circulo {
    background: #312E2E;
    border-radius: 50%;
    width: 730px;
    height: 730px;
    margin: auto; /* Centra el círculo horizontalmente y agrega margen superior */
    display: flex;
    margin-left: 1000px; 
    justify-content: center;
    
}

#ronda {
    display: none;
}
#quixoLineas {
    /* Ajustar si es necesario para centrar el SVG dentro del círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    /* No es necesario establecer un ancho y alto específico si el SVG se escala correctamente con su viewBox */
}

#botonEmpezar {
    padding: 15px 25px;
    background-color: #4682B4; /* Azul oscuro para el botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Tamaño del texto en el botón */
    transition: background-color 0.3s ease;
    display: inline-block; 
    cursor: pointer;
    position: relative;
    margin: 0 auto 10px; /* Centra horizontalmente y añade margen inferior */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: absolute;
    left: 0;
    top: 62%; 
    transform: translateY(-50%); 
    margin-left: 320px;
}
.contenedorJuego{
    display: flex;
    height: 100vh;
    justify-content:right;
}



.pulse-effect:hover {
    background-color: #4169E1;
}

.pulse-effect:active {
transform: scale(0.90); /* Reduce ligeramente el tamaño del botón cuando se hace clic */
}

#estadoJuego, #ronda {
    color: #000000;
    font-size: 29px;
    margin: 10px auto 0; /* Centra estos elementos y añade espacio superior */
    display: block; /* Asegura que cada uno esté en su propia línea */
    position: absolute;
    left: 0;
    top: 54%; 
    transform: translateY(-50%); 
    margin-left: 20px;
}

#estadoJuego { 
    font-size: 29px; /* Ligeramente más grande para destacar */
    color: #4682B4; /* Azul para que resalte entre el texto normal */
    margin-bottom: 20px;
    top: 54%; 
    /* Espacio entre 'Estado del juego' y 'Ronda' */
}