body {
    background-color: #DADBDC; /* Cambio a un color de fondo más suave */
    margin: 0;
    padding-top: 50px; /* Aumenta el espacio en la parte superior si es necesario */
    text-align: center; /* Esto centra horizontalmente todos los elementos en línea o en línea-bloque */
    height: 100vh;
    display: flex;
    flex-direction: column; /* Alinea los elementos secundarios en una columna vertical */
    justify-content: flex-start;  /* Alinea los elementos al inicio del contenedor flex */
}
.logo-container {
    position: absolute;
    left: 0;
    top: 10%; 
    transform: translateY(-50%); 
    margin-left: 20px;
    
}
.logo-image {
    width: 222px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantiene la proporción original */
}
#juego {
    text-align:right;
}
h1 {
    text-align: left;
    font-size: 58px; /* Tamaño más grande para el título */
    color: #1f4a9b;
    position: absolute;
    left: 0;
    top: 26%; 
    transform: translateY(-50%); 
    margin-left: 20px;
    font-family: "Sanchez", serif;
}
#p1{
    font-size: 28px;
    line-height: 1.6;
    color: #2F4F4F;
    position: absolute;
    left: 0;
    top: 40%; 
    transform: translateY(-50%); 
    margin-left: 20px;
    text-align: justify;
}

.circulo {
    background: #312E2E;
    border-radius: 50%;
    width: 730px;
    height: 730px;
    margin: auto; /* Centra el círculo horizontalmente y agrega margen superior */
    display: flex;
    margin-left: 1000px; 
    justify-content: center;
    
}

#ronda {
    display: none;
}
#quixoLineas {
    /* Ajustar si es necesario para centrar el SVG dentro del círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    /* No es necesario establecer un ancho y alto específico si el SVG se escala correctamente con su viewBox */
}

#botonEmpezar {
    padding: 25px 35px;
    background-color: #4682B4; /* Azul oscuro para el botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Tamaño del texto en el botón */
    transition: background-color 0.3s ease;
    display: inline-block; 
    cursor: pointer;
    position: relative;
    margin: 0 auto 10px; /* Centra horizontalmente y añade margen inferior */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: absolute;
    left: 0;
    top: 62%; 
    transform: translateY(-50%); 
    margin-left: 320px;
}
.contenedorJuego{
    display: flex;
    height: 100vh;
    justify-content:right;
    width: 100%;
    overflow: auto; /* Permite que el texto desborde si es necesario */
}


.pulse-effect:hover {
    background-color: #4169E1;
}

.pulse-effect:active {
transform: scale(0.90); /* Reduce ligeramente el tamaño del botón cuando se hace clic */
}
.concontenedorEstado{
    position: relative;
}

#estadoJuego, #ronda {
    color: #000000;
    font-size: 29px;
    margin: 10px auto 0; /* Centra estos elementos y añade espacio superior */
    display: block; /* Asegura que cada uno esté en su propia línea */
    position: absolute;
    left: 0;
    top: 54%; 
    transform: translateY(-50%); 
    margin-left: 20px;
    
}

#estadoJuego { 
    font-size: 29px; /* Ligeramente más grande para destacar */
    color: #4682B4; /* Azul para que resalte entre el texto normal */
    margin-bottom: 20px;
    top: 54%; 
    /* Espacio entre 'Estado del juego' y 'Ronda' */
}

.blue-bold {
    color: #4682B4;
    font-weight: bold;
  }

  @keyframes rainbow-text {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.ganador {
    font-size: 6vw; /* Ajustar el tamaño para que sea más pequeño y adaptativo */
    font-family: 'Baloo 2', cursive; /* Aplica la fuente Baloo 2 */
    background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 400%;
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    animation: rainbow-text 5s ease infinite;
    text-align: center;
    font-weight: bold;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    margin: 20px 0; /* Ajusta el margen superior e inferior */
}
/*@keyframes animacion-ganador {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}*/

.animacion-ganador {
    animation: animacion-ganador 1s ease-in-out;
}

@media screen and (max-width: 375px) {
    body{
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: 100vh; /* Para que el body ocupe el 100% de la altura de la pantalla */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%; /* Para que el contenedor ocupe el 100% del body */
      }
    h1{
        font-size: 66px; /* Ajusta el tamaño del texto en móviles */
        margin-left: 0 ;
        text-align: center;
        top: 15% ;
        position: relative;
    }
    #p1{
        font-size: 18px;
        margin: 0 10px;
        top:43%;
        text-align: center;
        position: relative;
    }
    .logo-container{
        position: static; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin-left: 0; 
        margin-top: 20px;
    }
    .logo-image {
        width: 120px; 
        align-items: center;
    }
    .circulo {
        width: 95%; /* Reduce el tamaño del círculo en pantallas más pequeñas */
        max-width: 300px;/* Aumenta el ancho del círculo para que desborde los bordes */
        height: 65vh; /* Mantiene la proporción original */
        margin: 0 auto; /* Centra el círculo horizontalmente y ajusta el desbordamiento */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Oculta cualquier contenido que desborde */
        border-radius: 50%; 
        position: relative;
    }

    #quixoLineas {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; /* Asegura que el contenido esté centrado dentro del círculo */
        height: auto;
    }
    #figura svg {
        width: 65%; /* Ajusta el tamaño del SVG sin deformarlo */
        height: auto; /* Mantiene la proporción original del SVG */
    }
    #botonEmpezar {
        margin: 20px auto; /* Centra el botón y agrega un margen superior */
        width: 80%; /* Ajusta el ancho del botón */
        left: 50%;
        top: 105%;
        transform: translateX(-50%) translateY(0); /* Centra el botón horizontalmente */
         /* Aumenta el relleno para hacerlo más alto */
        background-color: #4682B4; /* Color del fondo del botón */
        color: white; /* Color del texto */
        border: none; /* Elimina el borde */
        border-radius: 5px; /* Bordes redondeados */
        /* Tamaño del texto */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Añade una sombra para darle profundidad */
        transition: background-color 0.3s ease; /* Suaviza el cambio de color de fondo */
        padding: 1.5em 2em; /* Unidades relativas al tamaño de la fuente */
        font-size: 1.2em;
    }

    #botonEmpezar:hover {
        background-color: #4169E1; /* Color de fondo al pasar el mouse */
    }
    
    #estadoJuego, #ronda {
        margin-left: 0; /* Elimina el margen izquierdo */
        text-align: center;
        font-size: 5vw; /* Ajusta el tamaño del texto para que se vea mejor en móviles */
        line-height: 1.5;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); /* Centra horizontalmente */
        top:80%;
        white-space: normal;
    }
}

@media (min-width: 390px) and (max-width: 844px) {
    body {
        padding-top: 25px;
    }
    
    
    h1 {
        position: absolute;
        top: 15%; /* Ajusta este valor según necesites */
        left: 50%;
        transform: translateX(-50%); /* Centra horizontalmente */
        font-size:  8vw; /* Tamaño adecuado para pantallas grandes */
    }

    #p1 {
        position: absolute;
        top: 30%; /* Ajusta la posición vertical */
        left: 50%;
        transform: translateX(-50%); /* Centra horizontalmente */
        font-size: 4vw; /* Ajusta el tamaño del texto */
        text-align: center;
        width: 80%; /* Asegura que el texto no sea demasiado ancho */

    }
    .logo-container{
        position: static; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin-left: 0; 
        margin-top: 20px;
    }
    

    .circulo {
        position: absolute;
        top: 115%; /* Ajusta la posición vertical */
        left: 75%;
        transform: translate(-50%, -50%); /* Centra el círculo */
        width: 80%; /* Ajusta el tamaño del círculo */
        height: auto; /* Mantén la proporción */
        margin: 0 -25%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Oculta cualquier contenido que desborde */
        border-radius: 50%; 
    }
    
    #quixoLineas {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; /* Asegura que el contenido esté centrado dentro del círculo */
        height: auto;
    }
    #figura svg {
        width: 85%; /* Ajusta el tamaño del SVG sin deformarlo */
        height: auto; /* Mantiene la proporción original del SVG */
    }

    #botonEmpezar {
        position: absolute;
        top: 155%; /* Ajusta la posición vertical del botón */
        left: 50%;
        transform: translateX(-50%); /* Centra horizontalmente */
        width: 80%; /* Ajusta el ancho del botón */
        padding: 15px; /* Aumenta el padding para pantallas grandes */
        font-size: 5vw; /* Ajusta el tamaño del texto del botón */
        margin: 20px auto;
    }

    #estadoJuego {
        position: absolute;
        top: 65%; /* Ajusta la posición vertical del texto */
        left: 50%;
        transform: translateX(-50%); /* Centra horizontalmente */
        font-size: 4vw; /* Ajusta el tamaño del texto */
        text-align: center;
    }
    #estadoJuego, #ronda {
        margin-left: 0; /* Elimina el margen izquierdo */
        text-align: center;
        font-size: 6vw; /* Ajusta el tamaño del texto para que se vea mejor en móviles */
        line-height: 1.5;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); /* Centra horizontalmente */
        top:65%;
        white-space: normal;
    }
}

/*pantallas pequeñas*/

/*body .logo-container, body .circulo, body #botonEmpezar, body #estadoJuego {
    all: unset; /* Resetea todos los estilos aplicados */
   /* display: block; /* Asegura que los elementos sean bloques */
/*}*/



@media (min-width: 430px) and (max-width: 932px) {
    body {
        padding-top: 25px;
    }

    h1 {
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 5vw; /* Ajuste relativo al ancho de la pantalla */
    }

    #p1 {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3.5vw;
        text-align: center;
        width: 80%;
    }

    .logo-container {
        position: absolute;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        align-items: center;
    }

    .circulo {
        position: absolute;
        top: 108%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 400px;
        height: auto;
        margin: 0 auto;
    }

    #botonEmpezar {
        position: absolute;
        top: 155%;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        padding: 20px;
        font-size: 20px;
    }

    #estadoJuego {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 24px;
        text-align: center;
    }

}
/*pantallas pequeñas*/
