body {
    background-color: #DCDADA;
    font-family: "Noto Sans", Arial, sans-serif;
    margin: 0;
    padding-top: 50px; /* Aumenta el espacio en la parte superior si es necesario */
    text-align: center; /* Esto centra horizontalmente todos los elementos en línea o en línea-bloque */
    height: 100vh;
    display: flex;
    flex-direction: column; /* Alinea los elementos secundarios en una columna vertical */
    justify-content: flex-start;  /* Alinea los elementos al inicio del contenedor flex */
}
.logo-container {
    margin-bottom: 30px;
}
#juego {
    text-align: center;
}
h1 {
    text-align: center;
    color: black;
    font-size: 40px;
}
#circulo {
    background: #625F5F;
    border-radius: 50%;
    width: 800px;
    height: 800px;
    margin: auto; /* Centra el círculo horizontalmente y agrega margen superior */
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#ronda {
    display: none;
}
#quixoLineas {
    /* Ajustar si es necesario para centrar el SVG dentro del círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    /* No es necesario establecer un ancho y alto específico si el SVG se escala correctamente con su viewBox */
}

#botonEmpezar {
    border-radius: 5px;
    display: inline-block; 
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    margin: 0 auto 10px; /* Centra horizontalmente y añade margen inferior */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #007bff; /* Color base del botón */
    transition: transform 0.3s ease-in-out; /* Transición suave del efecto de pulsación */
}


.pulse-effect:hover {
background-color: #0056b3; /* Cambia el color al pasar el cursor sobre el botón */
}

.pulse-effect:active {
transform: scale(0.90); /* Reduce ligeramente el tamaño del botón cuando se hace clic */
}

#estadoJuego, #ronda {
    color: #333;
    font-size: 18px;
    margin: 10px auto 0; /* Centra estos elementos y añade espacio superior */
    display: block; /* Asegura que cada uno esté en su propia línea */
}

#estadoJuego {
    margin-bottom: 5px; /* Espacio entre 'Estado del juego' y 'Ronda' */
}