body {
    background-color: #DCDADA;
    font-family: "Noto Sans", Arial, sans-serif;
    margin: 0;
    padding-top: 50px; /* Aumenta el espacio en la parte superior si es necesario */
    text-align: center; /* Esto centra horizontalmente todos los elementos en línea o en línea-bloque */
    height: 100vh;
    display: flex;
    flex-direction: column; /* Alinea los elementos secundarios en una columna vertical */
    justify-content: flex-start;  /* Alinea los elementos al inicio del contenedor flex */
}
.logo-container {
    margin-bottom: 30px;
}
#juego {
    text-align: center;
}
h1 {
    text-align: center;
    color: black;
    font-size: 40px;
}
#circulo {
    background: #625F5F;
    border-radius: 50%;
    width: 900px;
    height: 900px;
    margin: auto; /* Centra el círculo horizontalmente y agrega margen superior */
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
#quixoLineas {
    /* Ajustar si es necesario para centrar el SVG dentro del círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    /* No es necesario establecer un ancho y alto específico si el SVG se escala correctamente con su viewBox */
}

#botonEmpezar {
    background-color: #FFFFFF; /* Color blanco para el botón después de empezar */
    color: #4CAF50; /* Color del texto verde, igual al botón original */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative; /* Cambia a 'relative' para que siga el flujo normal del documento */
    margin: 0 auto 10px; /* Centra horizontalmente y añade margen inferior */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: inline-block; /* Hace que el botón se comporte como un elemento en línea con bloque */
}

#estadoJuego, #ronda {
    color: #333;
    font-size: 18px;
    margin: 10px auto 0; /* Centra estos elementos y añade espacio superior */
    display: block; /* Asegura que cada uno esté en su propia línea */
}

#estadoJuego {
    margin-bottom: 5px; /* Espacio entre 'Estado del juego' y 'Ronda' */
}